<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savelievoleksandr.p13">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="API_KEY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCourseHomeWorks">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="Api_Key" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCourseHomeWorks.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>